<div class="btn-group btn-group-lg padding-5"
     data-ic-include="input"
     data-ic-replace-target="true"
     data-ic-deps="/clipboard"
     data-ic-src="{% url "files:buttons" %}">

    {% if total_selected_files < total_files %}
        <button id="select-all-button"
                title="Select all"
                tabindex="-1"
                class="btn btn-default no-outline"
                data-ic-action="publish:'selectAll'">
            <span class="glyphicon glyphicon-check"></span>
        </button>
    {% endif %}

    {% if selected_files %}
        <button id="select-none-button"
                title="Unselect all"
                class="btn btn-default no-outline"
                data-ic-action="publish:'unselectAll'">
            <span class="glyphicon glyphicon-unchecked"></span>
        </button>
    {% endif %}
    {% if selected_files %}
        <button title="Cut selected"
                id="cut-button"
                data-ic-post-to="{% url "files:cut" %}"
                data-ic-include=".entries input"
                class="btn btn-default no-outline">
            <span class="glyphicon glyphicon-scissors"></span>
        </button>
        <button title="Copy selected"
                id="copy-button"
                data-ic-post-to="{% url "files:copy" %}"
                data-ic-include=".entries input"
                class="btn btn-default no-outline">
            <span class="glyphicon glyphicon-copy"></span>
        </button>
    {% endif %}

    {% if clipboard_files %}
        <button title="Paste from clipboard"
                id="paste-button"
                data-ic-post-to="{% url "files:paste" %}"
                data-ic-target=".page"
                class="btn btn-default no-outline">
            <span class="glyphicon glyphicon-paste"></span>
        </button>
    {% endif %}

    {% url "files:edit" current_path as edit_url %}
    <button title="Edit"
            id="edit-button"
            data-ic-get-from="{{ edit_url }}"
            data-ic-target=".page"
            data-ic-push-url="true"
            class="btn btn-default no-outline">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    {% if selected_files %}
        <button title="Delete selected"
                id="trash-button"
                data-ic-post-to="{% url "files:trash" %}"
                data-ic-target=".page"
                class="btn btn-default no-outline">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    {% endif %}
    {% if clipboard_files %}
        <button id="clipboard-button"
                title="Clipboard"
                class="btn btn-default no-outline btn-warning">
            <span class="glyphicon glyphicon-paperclip"></span>
        </button>
    {% endif %}
</div>
