{% extends "__layout.html" %}
{% block content %}

    <div class="list-group entries">
        <form class="form-horizontal" data-ic-post-to="{% url "files:edit" current_path %}">

            {% for entry in entries %}
                <div class="form-group">
                    <label for="{{ entry.relative_path }}"
                           class="col-sm-2 control-label">{{ entry.relative_path }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="{{ entry.relative_path }}" value="{{ entry.name }}">
                    </div>
                </div>
            {% endfor %}
            <button
                    data-ic-post-to="{% url "files:edit" current_path %}"
                    data-ic-select-from-response=".page"
                    data-ic-target=".page"
                    type="submit"
                    class="btn btn-default">
                Save
            </button>
        </form>
    </div>
{% endblock %}