{% extends "__layout.html" %}
{% block content %}
    <div class="btn-group padding-5">
        <label id="select-all-button"
               title="Select all"
               class="btn btn-default hide-if-checked"
               data-ic-action="
                    trigger:'cp:selectAll','.entries .entry-checkbox';
                    delay:0;
                    trigger:'cp:displayIfMatches',['.entries input:checked','.show-if-checked', '.hide-if-checked']
                ">
            <span class="glyphicon glyphicon-check"></span>
        </label>
        <label id="select-none-button"
               title="Unselect all"
               class="btn btn-default default-hidden show-if-checked"
               data-ic-action="
                    trigger:'cp:selectNone','.entries .entry-checkbox';
                    delay:0;
                    trigger:'cp:displayIfMatches',['.entries input:checked','.show-if-checked', '.hide-if-checked']
                ">
            <span class="glyphicon glyphicon-unchecked"></span>
        </label>

        <label title="Cut selected"
               data-ic-post-to="{% url "files:cut" %}"
               data-ic-target="#clipboard-button"
               data-ic-replace-target="true"
               data-ic-include=".entries input"
               class="btn btn-default default-hidden show-if-checked">
            <span class="glyphicon glyphicon-scissors"></span>
        </label>
        <label title="Copy selected"
               data-ic-post-to="{% url "files:copy" %}"
               data-ic-target="#clipboard-button"
               data-ic-replace-target="true"
               data-ic-include=".entries input"
               class="btn btn-default default-hidden show-if-checked">
            <span class="glyphicon glyphicon-copy"></span>
        </label>
        <label title="Paste from clipboard"
               data-ic-post-to="{% url "files:paste" current_path %}"
               data-ic-target=".page"
               data-ic-select-from-response=".page"
               class="btn btn-default">
            <span class="glyphicon glyphicon-paste"></span>
        </label>
        {% url "files:edit" current_path as edit_url %}
        <label title="Edit"
               data-ic-get-from="{{ edit_url }}"
               data-ic-target=".page"
               data-ic-select-from-response=".page"
               data-ic-push-url="true"
               class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
        </label>
        <label label="Delete selected"
               data-ic-get-from="{% url "files:trash" current_path %}"
               data-ic-target=".page"
               data-ic-select-from-response=".page"
               data-ic-include=".entries input"
               class="btn btn-default default-hidden show-if-checked">
            <span class="glyphicon glyphicon-trash"></span>
        </label>
        {% include "files/_clipboard_button.html" with clipboard_files_count=clipboard_files_count %}
    </div>

    <div class="list-group entries">
        {% if parent_path %}
            {% url 'files:ls' parent_path as parent_url %}
            <a class="list-group-item"
               href="{{ parent_url }}"
               data-ic-target=".page"
               data-ic-select-from-response=".page"
               data-ic-push-url="true"
               data-ic-get-from="{{ parent_url }}">
                ../
            </a>
        {% endif %}

        {% for entry in entries %}
            <div class="list-group-item">
                <div class="checkbox no-margin">
                    <input
                            type="checkbox"
                            title="select"
                            name="selected"
                            value="{{ entry.relative_path }}"
                            data-ic-action="
                                trigger:'cp:displayIfMatches',['.entries input:checked','.show-if-checked', '.hide-if-checked']
                            "
                            class="entry-checkbox">
                    <label>
                        {% url 'files:ls' entry.relative_path as entry_url %}
                        <a class=""
                                {% if entry.is_dir %}
                           data-ic-target=".page"
                           data-ic-select-from-response=".page"
                           data-ic-push-url="true"
                           data-ic-get-from="{{ entry_url }}"
                                {% endif %}
                           href="{{ entry_url }}"
                        >
                            {{ entry.name }}{% if entry.is_dir %}/{% endif %}
                        </a>
                    </label>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}