<div class="btn-group btn-group-lg padding-5"
     id="buttons">
    <input type="hidden"
           id="clipboard-status"
           name="clipboard-status"
           value="{% if clipboard_files %}1{% else %}0{% endif %}">
    {% if selection_status == "some" or selection_status == "none" %}
        <label id="select-all-button"
               data-ajax
               data-url="{% url "files:select" %}"
               data-include="#current-path,#selection-status,#buttons input"
               data-action="trigger:select-all;trigger:selection-change"
               title="Select all"
               class="btn btn-default no-outline">
            <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
        </label>
    {% endif %}
    {% if selection_status == "some" or selection_status == "all" %}
        <label id="select-none-button"
               data-ajax
               data-url="{% url "files:select" %}"
               data-include="#current-path,#selection-status,#buttons input"
               data-action="trigger:select-none;trigger:selection-change"
               title="Unselect all"
               class="btn btn-default no-outline">
            <i class="fa fa-square-o fa-lg" aria-hidden="true"></i>
        </label>
    {% endif %}
    <a title="Edit"
       href="{% url "files:edit" directory %}"
       id="edit-button"
       class="btn btn-default no-outline">
        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
    </a>
    {% if selection_status != "none" %}
        <label title="Cut selected"
               id="cut-button"
               data-ajax
               data-url="{% url "files:cut" %}"
               data-method="post"
               data-include="#filelist input,#buttons input"
               class="btn btn-default no-outline">
            <i class="fa fa-scissors fa-lg" aria-hidden="true"></i>
        </label>
        <label title="Copy selected"
               data-ajax
               data-url="{% url "files:copy" %}"
               data-method="post"
               data-include="#filelist input,#buttons input"
               id="copy-button"
               class="btn btn-default no-outline">
            <i class="fa fa-files-o fa-lg" aria-hidden="true"></i>
        </label>
        <label title="Delete selected"
               data-ajax
               data-url="{% url "files:confirm-trash" %}"
               id="trash-button"
               class="btn btn-default no-outline">
            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
        </label>
    {% endif %}
    {% if clipboard_files %}
        <label title="Paste from clipboard"
               id="paste-button"
               data-ajax
               data-method="post"
               data-url="{% url "files:paste" %}"
               data-include="#filelist input"
               class="btn btn-default no-outline">
            <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>
        </label>
    {% endif %}
</div>
