<div id="confirm-trash" class="center-block text-center alert alert-warning">
    <div>
        <p>
            Are you sure you want to remove the selected files?
        </p>
        <button id="confirm-trash-button"
                data-ajax
                data-method="post"
                data-include="#filelist input"
                data-url="{% url "files:trash" %}"
                class="btn btn-danger">Delete
        </button>
        <button id="cancel-trash-button"
                data-action="hide"
                data-target="#confirm-trash"
                class="btn">
            Cancel
        </button>
    </div>
</div>