<form id="edit-form" class="form-horizontal">
    {% for field in edit_form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="{{ field.id }}"
                       value="{{ field.value }}"
                       name="{{ field.html_name }}">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <input type="hidden" name="current_path" value="{{ current_path }}">
    <button type="submit"
            data-ajax
            data-url="{% url "files:rename" %}"
            data-method="post"
            data-include=".files input"
            class="btn btn-default">
        Save
    </button>
</form>