<div class="list-group entries" id="filelist">
    <input type="hidden" id="current-path" name="current_path" value="{{ current_path }}">
    <input type="hidden" id="selection-status" name="selection_status" value="none">
    {% if parent_path %}
        {% url 'files:ls' parent_path as parent_url %}
        <a class="list-group-item dir-item" href="{{ parent_url }}">../</a>
    {% endif %}

    {% for file in files %}
        <a href="{% url 'files:ls' file.relative_path %}"
           class="list-group-item {% if file.is_dir %}dir-item{% else %}file-item{% endif %}">
            <div class="checkbox no-margin">
                <input type="checkbox"
                       title="select"
                       name="selected"
                       data-ajax
                       data-url="{% url "files:select" %}"
                       data-include="#filelist input,#buttons input"
                       data-action="trigger:selection-change"
                       data-on="select-all,select-none"
                       data-on-select-all="prop:checked,true"
                       data-on-select-none="prop:checked,"
                       value="{{ file.relative_path }}"
                       class="data-check">
                <label>
                        {{ file.name }}{% if file.is_dir %}/{% endif %}
                </label>
            </div>

        </a>
    {% endfor %}
</div>
