<div id="filelist">
    {% if parent_paths %}
        <ol class="breadcrumb no-margin" id="breadcrumbs">
            <li>
                <a href="{% url "files:ls" "" %}">
                    <i class="fa fa-home fa-lg"></i>
                </a>
            </li>
            {% for name, parent_path in parent_paths %}
                {% if forloop.last %}
                    <li class="active">{{ name }}</li>
                {% else %}
                    <li>
                        <a href="{% url "files:ls" parent_path %}">{{ name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
    <div class="list-group files">
    <input type="hidden" id="current-path" name="current_path" value="{{ current_path }}">
    <input type="hidden" id="selection-status" name="selection_status" value="none">
    {% for file in files %}
        <div class="list-group-item clickable">
            <div class="checkbox no-margin">
                <input type="checkbox"
                       title="select"
                       name="selected"
                       data-ajax
                       data-url="{% url "files:select" %}"
                       data-include="#current-path,#selection-status,#buttons input"
                       data-action="trigger:selection-change"
                       data-on="select-all,select-none"
                       data-on-select-all="prop:checked,true"
                       data-on-select-none="prop:checked,"
                       value="{{ file.relative_path }}"
                       class="data-check">
                <label class="block">
                    <a href="{% url 'files:ls' file.relative_path %}"
                       class="block {% if file.is_dir %}dir-item{% else %}file-item{% endif %}">
                        {% if file.is_dir %}
                            <i class="fa fa-folder fa-lg padding-5"></i>
                        {% else %}
                            <i class="fa fa-file-o fa-lg padding-5"></i>
                        {% endif %}
                        {{ file.name }}
                    </a>
                </label>
            </div>
        </div>
    {% endfor %}
</div>
</div>
